.footer{
    width: 100vw;
    height: 4rem;
    background:rgba(0, 0, 0, 0.445);
    display: flex;
    align-items:center;
    justify-content: center;
    font-weight: 300;
    font-size:small;
    flex-direction: column;

}

.footer button{
    background-color: white;
    color: black;
    border: none;
    padding: 0.2rem 1.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.7s ease;
    margin-bottom: 0.3rem;
}
.footer button:hover{
    color: white;
    background: #000;
}




